.logoImage {
  width: 20%;
  height: 400px;
  border-radius: 10px;
}

.homeImage {
  display: flex;
  gap: 100px;

  align-items: center;
  flex-direction: row;
  border-bottom-width: medium;
  margin-bottom: 100px;
  position: relative;
  float: left;
  background-color: whitesmoke;
}

.homeDescriptif {
  color: black;

  width: 90%;
  text-align: justify;
  margin: auto;
}

li.thumb {
  border: 2px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

li.thumb.selected {
  border-color: #007bff;
}

.button {
  align-items: center;
}

.carousel {
  width: 60%;
  height: 500px;
  margin: auto;
  flex-direction: row;
}
@media (max-width: 768px) {
  .homeImage {
    flex-direction: column;
  }

  .logoImage {
    width: 100%;
  }

  .homeDescriptif {
    width: 100%;
    margin-top: 20px;
  }
}
