.container-button {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 10px;
}

.containerHomeImageAdmin {
  margin-top: 10px;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 6px 16px 36px 13px rgba(119, 113, 113, 0.29);
  -webkit-box-shadow: 6px 30px 36px 13px rgb(0 0 0 / 20%);
  -moz-box-shadow: 6px 16px 50px 18px rgba(0, 0, 0, 0.29);
}
