.homeImage {
  display: flex;
  gap: 100px;
  align-items: center;
  flex-direction: column;
  align-items: center;
  border-bottom-width: medium;
  position: relative;
  background-color: whitesmoke;
}

.logo {
  position: fixed;
  z-index: 1;
}
.carousel {
  width: 50%;
  height: 500px;

  flex-direction: row;
}

.carouselImage {
  font-style: italic;
}

.paragrapheDetail {
  text-align: center;
  margin-bottom: 10px;
  font-style: italic;
}
