body {
  margin: 0;
  background-color: EBE3DB;
}

.title {
  text-align: center;
}

.entrée {
  text-align: center;
  color: aliceblue;
}

button {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  background-color: #a79b90;
}

.location {
  color: black;
}

.presentation {
  font-size: 30px;
  color: black;
  top: 20vh;
  left: 110vh;
  font-weight: bolder;
  position: absolute;
  font-family: Libre Baskerville;
  right: 20vh;
  border: solid white;
}

.position {
  position: relative;
}

.image {
  height: 100vh;
  width: 100vw;
}
.saleApp {
  padding: 0;
}
